*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f5f5f5;
    padding:20px;
}

.container{
    max-width:700px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

h1{
    text-align:center;
    margin-bottom:15px;
}

h2{
    margin-bottom:15px;
}

input,
select,
button{
    width:100%;
    padding:10px;
    margin-bottom:10px;
}

button{
    cursor:pointer;
}

#transactionList{
    max-height:300px;
    overflow-y:auto;
}

.transaction{
    border:1px solid #ddd;
    padding:10px;
    margin-bottom:10px;
    border-radius:5px;
}

.deleteBtn{
    margin-top:10px;
}

canvas{
    max-width:400px;
    max-height:400px;
    margin:20px auto;
    display:block;
}
